.ored {
    outline: 1px solid red;
}

* {
    box-sizing: border-box; 
    padding: 0;
    outline: none;
    /* outline: 1px solid red; */
}

div, svg, rect, circle, body, html, line {
    margin: 0
}
